name: nodejs project
on:
    push:
        branches:
            - main
            - dev
    pull_request:
        types: [opened,reopened]
        branches:
             - main
             - dev
jobs:
      buildjob:
        #strategy:
            #matrix:
                #node-version: [ 17.x]
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v3
            - name: setup the env 
              uses: actions/setup-node@v3
              with:
                    node-version: 17
            - name: cache the dependencies
              env:
                cache-name: cache-node-modules
              uses: actions/cache@v3
              with:
                    path: ~/.npm
                    key: ${{runner.os}}-build-${{env.cache-name}}-${{hashFiles('**/package-lock.json')}}
                    restore-keys: |
                            ${{runner.os}}-build-${{env.cache-name}}-
                            ${{runner.os}}-build-
                            ${{runner.os}}-
            - name: Install Dependencies
              run: npm ci
            - name: Test
              run: npm test
            - name: Login into ACR
              uses: azure/docker-login@v1
              with:
                    login-server: ${{secrets.ACR_SERVER }}
                    username: ${{secrets.ACR_USER_NAME}}
                    password: ${{secrets.ACR_PASSWORD}}
            - name: build image and pushing into ACR
              run: |
                    docker build -t ${{secrets.ACR_SERVER}}/npm-image:${{github.sha}} . 
                    docker push  ${{secrets.ACR_SERVER}}/npm-image:${{github.sha}}  
                    docker image ls   
